package components

import "spendings/db"

templ Index(balance int64, spendings []db.Spending) {
	@Layout(main(balance, spendings))
}

templ main(balance int64, spendings []db.Spending) {
	<main class="w-full h-screen bg-pink-100">
		@Balance(balance)
		@Spendings(spendings)
	</main>
}
