package components

templ Index() {
	@Layout(main())
}

templ main() {
	<main class="w-full h-screen bg-black">
		<iframe class="w-screen h-screen" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</main>
}
